*{
    font-size: medium;
}

body{
    background-color: hsl(313, 77%, 36%);
}
#h1{
    background-color: #ffd900;
    color: aqua;
    font-weight: lighter;
}
#h2{
    background-color: rgb(246, 89, 4);
    color: aqua;
}#h3{
    background-color: rgb(170, 0, 255);
    color: aqua;
}

.h4{
    background-color: grey;
    color: blueviolet;
}

.button{
    background-color: bisque;
    color: rgb(44, 42, 165);
}
p{
    text-align: right;
    font-weight: 500;
    font-family: arial,roboto;
    line-height: 20px;
    text-transform:initial;
}
#one{
    font-size: 20px;
}
#two{
    font-size: 40px;
}
#three{
    font-size: 60px;

}

